useDynLib(aopts, .registration = TRUE)
export(aopts)
S3method(coef, aopts_fit)
S3method(vcov, aopts_fit)
S3method(summary, aopts_fit)
S3method(print, summary.aopts_fit)
S3method(fitted, aopts_fit)
S3method(predict, aopts_fit)
S3method(residuals, aopts_fit)
